// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//delete scrollbar
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}


.toolbar-background {
    background-color: color($colors, primary);
}

.toolbar-title.toolbar-title-md,
.toolbar-title.toolbar-title-ios,
.toolbar-title.toolbar-title-wp {
    color: black;
}

.bar-button-default-md,
.bar-button-default-ios,
.bar-button-default-wp {
    color:black;
}


.buttonBottom {
  position: fixed;
  bottom: 70px;
}

.buttonCenter{
  left: 20px;
  right: 20px;
}
.buttonRight{
  left: 200px;
  right: 20px;
}

ion-avatar,
ion-avatar > img{
  border-radius:50%;
  height:50px;
  width:50px;
}

.avatars {
  margin: auto;
}
.icons-basic-page {
  ion-icon {
    font-size: 45px;
  }

  ion-row {
    height: 100%;
    flex-wrap: wrap;
  }
  ion-col {
    flex: 0 0 5%;
    max-width: 25%;
    text-align: center;
    padding: 15px 5px;
  }
}















.primary-bg {
  background-color: color($colors, primary) !important;
}

.secondary-bg {
  background-color: color($colors, secondary) !important;
}

.common-bg {
  background-color: #FAFBFC;
}

.white-bg {
  background-color: #fff;
}

.detail-bg {
  background-color: #f1f1f5;
}

.light-bg {
  background-color: color($colors, light);
}

.dark-bg {
  background-color: color($colors, dark);
}

.green-bg {
  background-color: #68C91F;
}

.profile-bg {
  background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary), color($colors, light));
}

.text-white {
  color: #fff;
}

// Menu user profile
.user-profile {
  .user-avatar {
      width: 68px;
      height: 68px;
      display: inline-block;
      border-radius: 50%;
      box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
      img {
          border-radius: 50%;
      }
  }
  .toolbar-background {
      background-image: linear-gradient(135deg, color($colors, secondary), color($colors, primary));
  }

  .other-data {             //pulsanti nel menu laterale
      .column {
          &:first-child {
              border-right: 1px solid rgba(36, 50, 157, .25);
          }
      }
  }
}

.user-list {
  .item {
      &:last-child {
      border-bottom: 0;
      }
      .item-inner {
      border-color: rgba(86, 61, 124, .1);
      }
  }
}

.circle-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 2px;
  padding: 1px;
 }

.heightcentre{
  width: 50%;
  margin: auto;
}

.center{
  //margin-left: 40%;
  //margin-right: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ion-card{
  background-color: color($colors, secondary) !important;
}

ion-select{
  max-width: 75% !important;
}

.mt_0{  margin-top: 0;  }
.mt_5{  margin-top: 5px;  }
.mt_10{  margin-top: 10px;  }
.mt_15{  margin-top: 15px;  }
.mt_20{  margin-top: 20px;  }

.mb_0{  margin-bottom: 0;  }
.mb_5{  margin-bottom: 5px;  }
.mb_10{  margin-bottom: 10px;  }
.mb_15{  margin-bottom: 15px;  }
.mb_20{  margin-bottom: 20px;  }

.ml_0{  margin-left: 0;  }
.ml_5{  margin-left: 5px;  }
.ml_10{  margin-left: 10px;  }
.ml_15{  margin-left: 15px;  }
.ml_20{  margin-left: 20px;  }

.mr_0{  margin-right: 0;  }
.mr_5{  margin-right: 5px;  }
.mr_10{  margin-right: 10px;  }
.mr_15{  margin-right: 15px;  }
.mr_20{  margin-right: 20px;  }
