<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-grid>

        <ion-row>
          <ion-col padding-top col-12>
            <ion-avatar class="avatars" *ngIf="global.isLogged">
              <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(utente.img)">
            </ion-avatar>
            <ion-avatar class="avatars" *ngIf="!global.isLogged">
              <img src="../assets/imgs/avatar.png">
            </ion-avatar>
          </ion-col>
        </ion-row>

        <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose (click)="openProfile()">
              <ion-icon name="contact"></ion-icon>
              {{'PROFILO_MENU' | translate}}
            </button>
          </ion-col>
          <ion-col no-padding class="column">
            <div *ngIf="!global.isLogged">
              <button ion-button icon-left small full color="light" menuClose (click)="openLoginPage()">
                <ion-icon name="log-in"></ion-icon>
                {{'LOGIN' | translate}}
              </button>
            </div>
            <div *ngIf="global.isLogged">
              <button ion-button icon-left small full color="light" menuClose (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
                {{'LOGOUT' | translate}}
              </button>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)" [hidden]="p.menuenab==false" >
        {{p.title | translate}}
      </button>

      <ion-item>
        <ion-label>{{ 'LINGUA' | translate }}</ion-label>
        <ion-select  [(ngModel)]="linguaPreferita" name="linguaPreferita" (ionChange)="changeLang()" >
          <ion-option *ngFor="let l of lingue" [value]="l.valore">{{l.etichetta}}</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage2(p)" [hidden]="p.menuenab==true" >
        {{p.title | translate}}
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu side="right" [content]="content" id="filter">

  <ion-header>
    <ion-toolbar>
      <ion-title>{{'RICERCA_PARTITE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div padding-top >
      <ion-searchbar [formControl]="searchControl" placeholder="{{ 'CERCA_CAMPO' | translate }}" ></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of items" (click)="getListaPartiteByCampo(item)">
          {{ item.citta }}, {{ item.via }}
        </ion-item>
      </ion-list>
    </div>

    <div padding-top>
      <ion-item>
        <ion-label>{{'TIPOLOGIA' | translate }}</ion-label>
        <ion-select interface="action-sheet" placeholder="{{'SELEZIONA' | translate }}" [(ngModel)]="tipologiaSelected"
                    (ngModelChange)="getListaPartiteByTip()">
          <ion-option *ngFor="let t of listaTipologia" [value]="t">{{t.nome}}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <div padding-top >
      <ion-item>
        <ion-label>{{'DATA' | translate }}</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" min="{{today.toISOString()}}"
                      max="{{today.getFullYear()+20}}" [(ngModel)]="dataSelected" (ngModelChange)="getListaPartitaByData()"></ion-datetime>
      </ion-item>
    </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
