<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col padding-top col-12>
            <h2 ion-text class="no-margin bold text-white" *ngIf="utente">
              {{utente.cognome + ' ' + utente.nome}}
            </h2>
            <span ion-text color="light" *ngIf="utente">{{utente.ruolo | uppercase}}</span>
          </ion-col>
        </ion-row>

        <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose (click)="profilo()">
              <ion-icon name="contact"></ion-icon>
              {{'PROFILO_MENU' | translate}}
            </button>
          </ion-col>
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              {{'LOGOUT_MENU' | translate}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
    
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)" [hidden]="p.menuenab==false" >
        {{p.title | translate}}
      </button>


      <ion-item>
        <ion-label>{{ 'LINGUA' | translate }}</ion-label>
        <ion-select >
          <ion-option value="it">{{ 'ITALIANO' | translate }}</ion-option>
          <ion-option value="en">{{ 'INGLESE' | translate }}</ion-option>
        </ion-select>
      </ion-item>
  
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage2(p)"[hidden]="p.menuenab==true" >
          {{p.title | translate}}
        </button>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>