<!--
  Generated template for the PartitaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>{{'PARTITA' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <div style="padding: 10px" ><!--*ngIf="partita1"-->
      <button ion-button class="circle-btn center">
        <Span style="text-transform:none;">1vs1</Span>
      </button>
          <div *ngIf="partita1">
            <ion-row>{{partita1.campo.citta}}</ion-row>
            <ion-row>{{partita1.campo.via}}</ion-row>
            <ion-row>{{partita1.campo.telefono}}</ion-row>
            <ion-row style="display: inline">
              <p style="text-align: left">{{partita1.data | date:'dd MMM yyyy'}}</p>
              <p style="text-align: right">{{partita1.data | date:'hh:mm'}}</p>
            </ion-row>
          </div>
    </div>
</ion-card>
  <div padding class="buttonCenter" style="padding-top: 5px; padding-bottom: 5px" >
    <button ion-button color="secondary"  block (click)="openBacheca" >
      {{'BACHECA' | translate }}
    </button>
  </div>

  <div padding class="buttonCenter" style="padding-top: 5px; padding-bottom: 5px" >
    <button ion-button color="secondary" block (click)="leavePartita" >
      {{'LASCIA_PARTITA' | translate }}
    </button>
  </div>

  <ion-item style="position: fixed">
    <ion-avatar item-start>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>

</ion-content>
