<!--
  Generated template for the PartitaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'PARTITA' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <div style="padding: 10px" *ngIf="partita">
      <button ion-button class="circle-btn center">
        <Span style="text-transform:none;">{{partita.tipologia.nome}}</Span>
      </button>
      <div>
        <ion-row class="mt_5">{{partita.campo.citta + ', ' + partita.campo.via}} </ion-row>
        <ion-row class="mt_5 mb_10">{{partita.campo.telefono}}</ion-row>
        <ion-row style="display: inline">
          <p style="text-align:left;">
            {{partita.data | date:'dd/MM/yyyy'}}
            <span style="float:right;">
              {{partita.data | date:'HH:mm'}}
            </span>
          </p>
        </ion-row>
      </div>
    </div>
  </ion-card>

  <div *ngIf="global.isLogged && isPartecipant">
    <div padding class="buttonCenter" style="padding-top: 5px; padding-bottom: 5px">
      <button ion-button color="primary" block (click)="openBacheca()">
        {{'BACHECA' | translate }}
      </button>
    </div>
    <div padding class="buttonCenter" style="padding-top: 5px; padding-bottom: 5px">
      <button ion-button color="danger" block (click)="leavePartita()">
        {{'LASCIA_PARTITA' | translate }}
      </button>
    </div>
  </div>

  <div *ngIf="global.isLogged && !isPartecipant">
    <div padding class="buttonCenter" style="padding-top: 5px; padding-bottom: 5px">
      <button *ngIf="this.soldOut" ion-button color="success" block disabled>
        {{'PARTECIPA_PARTITA' | translate }}
      </button>
      <button *ngIf="!this.soldOut" ion-button color="success" block (click)="joinPartita()">
        {{'PARTECIPA_PARTITA' | translate }}
      </button>
    </div>
  </div>

  <div *ngIf="!global.isLogged">
    <div padding class="buttonCenter" style="padding-top: 5px; padding-bottom: 5px">
      <button ion-button color="success" block (click)="openLogin()">
        {{'PARTECIPA_PARTITA' | translate }}
      </button>
    </div>
  </div>

  <ion-list>
    <ion-list-header>
      Partecipanti:
    </ion-list-header>

    <ion-item *ngFor="let u of partecipanti" (click)="openProfilo(u)">

      <!--utente loggato e partecipante-->
      <ion-avatar item-start *ngIf="global.isLogged && u.email === utente.email">
        <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(utente.img)">
      </ion-avatar>

      <!--utente loggato e non partecipante-->
      <ion-avatar item-start *ngIf="global.isLogged && u.email !== utente.email">
        <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(u.img)">
      </ion-avatar>

      <!--utente non loggato-->
      <ion-avatar item-start *ngIf="!global.isLogged">
        <img src="../../assets/imgs/avatar.png">
      </ion-avatar>

      <ion-row *ngIf="global.isLogged">{{u.nome}} {{u.cognome}}</ion-row>
      <ion-row *ngIf="!global.isLogged">{{u.nome}}</ion-row>
      <ion-row>
        <ionic3-star-rating #rating
                            activeIcon="ios-star"
                            defaultIcon="ios-star-outline"
                            activeColor="#ffff07"
                            defaultColor="#878787"
                            readonly="true"
                            rating="{{u.mediaVoto}}"
                            fontSize="20px"
                            (ratingChanged)="logRatingChange($event)">
        </ionic3-star-rating>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>
